body {
    background-color: #f5f5f5;
    font-family: Georgia, serif;
}
#hoved {
    width: 60%;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #cccccc;

}
#overskrift{
    font-family: "Times New Roman";
    position: relative;
    z-index: 100;
    text-align: center;
    color:black;
    width:100%;
    text-shadow: 2px 2px lightgray;

}




header {
    grid-area:header;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    overflow:hidden;
    position: relative;
}
nav {
    background-color: #7a9a99;
    grid-area:nav;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 5px;


}
article {
    grid-area:article;
    font-family: Georgia, serif;
    padding:10px;




}
main {
    position: absolute;
    display: grid;
    grid-template-rows: 35% 5% 80%;
    grid-auto-columns: 20% 80%;
    grid-template-areas:
                             'header header'
                              'nav nav'
                              'article article';
    grid-row-gap:5px;
    width: 95%;
    top:2.5%;
    height:100%;
    left:2.5%;
}

#vinter_ol_markus {
    grid-area:vinter_ol_markus;
    display:flex;
    flex-flow: row wrap;
}


a {
    color:black
}
a:hover {
    color:white;
}

table {
    border-collapse: collapse;
    border-bottom: 2px solid #3f4259;
    width: 500px;
}
th, td {
    border: 1px solid darkblue;
    padding: 8px;
}
thead > tr {
    background-color: #3f4259;
    color: #f6f7fa;
}
tbody > tr:nth-child(odd) {
    background-color: #f6f7fa;
}


input, textarea, select {
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    color: white;
    text-shadow: 0 -1px 1px #335166;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
    background-color: #7a9a99;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    outline: none;
    cursor: pointer;
}
button:active {
    transform: translate(1px,1px);
}
#bilde{
    position: absolute;
    overflow: hidden;
    left:30%;
    top:-20px;

}
#infoboks{
    width: 60%;
    border: 1px solid #121212;
    margin: 20px auto;
    padding: 20px 40px;
    background: linear-gradient(rgba(0, 0, 80, 0.5), transparent);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
#gull{
    background-color: gold;
}
#solv{
    background-color: silver;
}
#bronse{
    background-color: sandybrown;
}
#langrenn{
    text-align: center;
    color: #2A5075;
    text-shadow: 2px 2px 5px lightblue;
}
#hoved2{
    width: 60%;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #cccccc;

}
.gronn {
    color: #66BB00;
}
.rod {
    color: #CC0000;
}
.avsnitt2 {
    font-family: Broadway;
    color: darkslategrey;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: arial;
    position: relative;
    text-align: center;
}

/* HEADER */
header {
    color: white;
    letter-spacing: 10px;
    font-size: 22px;
    padding: 10px 5px;
}

@media only screen and (min-width: 768px) {
    header {
        font-size: 28px;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        font-size: 32px;
        padding: 10px;
    }

    header h1 {
        font-weight: 400;
    }
}

/* main SECTION */
.main {
    background: white;
    width: 250px;
    /*   height: 345px; */
    padding-bottom: 10px;
    /*   box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4); */
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (min-width: 768px) {
    .main {
        width: 310px;
        /*     height: 285px; */
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        width: 410px;
        /*     height: 375px; */
    }
}

.box {
    background: #6186aa;
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 0 0 10px;
}

@media only screen and (min-width: 1024px) {
    .box {
        width: 70px;
        height: 70px;
    }
}

.box.play:hover {
    opacity: 0.7;
    cursor: pointer;
}

.box img {
    width: 100%;
    display: block;
    border: solid 1px transparent;
}

.box .outlined {
    border: solid 1px #34495e;
    background: #1abc9c;
    opacity: 0.7;
}

/* STATUS bar */
#state {
    background: #6186aa;
    /*   background-image: linear-gradient(to top left, #9b59b6, #1abc9c); */
    background-size: 250%;
    width: 230px;
    line-height: 25px;
    float: left;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    color: white;
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    #state {
        width: 290px;
    }
}

@media only screen and (min-width: 1024px) {
    #state {
        width: 390px;
        line-height: 35px;
    }
}

#time {
    float: left;
}

#time::after {
    content: " sec";
}

#score {
    float: right;
}

#score::after {
    content: " points";
}

/* FOOTER */
footer p {
    color: white;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}

footer p a {
    color: #ddd;
    text-decoration: none;
}

footer p a:hover {
    color: white;
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

/* PRE modal window */
#pre {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#themes {
    margin: auto;
    padding: 20px;
    width: 300px;
    background: white;
    color: #6186aa;
}

#themes p {
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px;
    background: white;
    color: #6186aa;
    cursor: pointer;
    font-size: 16px;
}

#themes p:hover {
    background: #6186aa;
    background-size: 250%;
    color: white;
}

#pre h2, #post h2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* POST modal window */
#post {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}

#post > div {
    width: 300px;
    padding: 20px 0 40px;
    background: white;
    color: #6186aa;
}

#post p:first-child,
#post #final {
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    padding: 10px 20px;
}

#post #again {
    color: #6186aa;
    text-decoration: none;
    margin: auto;
    padding: 10px 20px;
    width: 160px;
    border: solid 1px;
}

#post #again:hover {
    background: #6186aa;
    /*   background-image: linear-gradient(to top left, #9b59b6, #1abc9c); */
    background-size: 250%;
    color: white;
    cursor: pointer;
}
#overskriftspill {
    color: black;
}

#info {
    text-align: left;
}
